
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>And Eticaret Admin Girişi</title>
</head>
<body>
    <form method="post">
        @Html.Label("Email")
        @Html.TextBox("Email")
        <br />
        @Html.Label("Şifre ")
        @Html.Password("Password")
        <br />
        <button type="submit">Giriş Yap</button>
    </form>
</body>
</html>
